<div class="aplied-transactions-list-wrapper">
  <h1 class="applied-transactions-title">
    {{ "titles.appliedTransactions" | translate }}
  </h1>
  <div
    class="applied-transactions-list"
    cdkDropList
    [cdkDropListData]="appliedTransactionsArray"
    (cdkDropListDropped)="handleDrop($event)">
    <intr-transaction-card
      *ngFor="let transaction of appliedTransactionsArray; index as i"
      class="applied-transactions-list__item"
      [transaction]="transaction"
      [index]="i">
    </intr-transaction-card>
  </div>
</div>
