.applied-transactions-list-wrapper {
    margin: 0 auto;
    margin-top: 10rem;
    width: 80%;

    .applied-transactions-title {
        font-size: 2.5rem;
        color: grey;
        font-weight: 100;
    }

    .applied-transactions-list {
        min-height: 10rem;
        height: fit-content;
    }

    .applied-transactions-list__item {

        .flex-container {
            display: flex;
        }
    }
}