<div 
class="auth-form-wrapper">
    <form 
    [formGroup]="authForms" 
    class="auth-form-wrapper__form">
        <mat-form-field 
        class="auth-form-wrapper__input" 
        appearance="fill">
            <mat-label>{{'labels.login' | translate}}</mat-label>
            <input 
            matInput 
            formControlName="login">
        </mat-form-field>
        <mat-form-field 
        class="auth-form-wrapper__input" 
        appearance="fill">
            <mat-label>{{'labels.password' | translate}}</mat-label>
            <input 
            matInput 
            type="password" 
            formControlName="password">
        </mat-form-field>
        <button 
        mat-raised-button 
        (click)="login()" 
        color="primary">
            {{'buttons.login' | translate}}
        </button>
    </form>
</div>