<div class="transactions-table-wrapper mat-elevation-z8">
  <div class="ms-2-percents mt-10-pixels">
    <mat-form-field>
      <input matInput placeholder="{{'placeholders.search' | translate}}" (keyup)="search($event)">
    </mat-form-field>
  </div>
  <div class="flex-container w-100-percents">
    <div class="flex-element">
      <mat-form-field class="filter" [formGroup]="filterValues" floatLabel="never">
        <mat-label>{{'displayedColumns.externalId' | translate}}</mat-label>
        <input formControlName="idFilter" matInput>
      </mat-form-field>
    </div>
    <div class="flex-element">
      <mat-form-field class="filter" [formGroup]="filterValues" floatLabel="never">
        <mat-label>{{'displayedColumns.provider' | translate}}</mat-label>
        <input formControlName="providerFilter" matInput>
      </mat-form-field>
    </div>
    <div class="flex-element">
      <mat-form-field class="filter" [formGroup]="filterValues" floatLabel="never">
        <mat-label>{{'displayedColumns.amount' | translate}}</mat-label>
        <input formControlName="amountFilter" matInput>
      </mat-form-field>
    </div>
    <div class="flex-element">
      <mat-form-field class="filter" [formGroup]="filterValues" floatLabel="never">
        <mat-label>{{'displayedColumns.comissionAmount' | translate}}</mat-label>
        <input formControlName="comissionAmountFilter" matInput>
      </mat-form-field>
    </div>
    <div class="flex-element">
      <mat-form-field class="filter" [formGroup]="filterValues" floatLabel="never">
        <mat-label>{{'displayedColumns.username' | translate}}</mat-label>
        <input formControlName="usernameFilter" matInput>
      </mat-form-field>
    </div>
    <div class="flex-element">
    </div>
  </div>
  <table mat-table matSort [dataSource]="dataSource" class="w-100-percents">

    <!-- External id Column -->
    <ng-container matColumnDef="externalId">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="column-header">
          {{ 'displayedColumns.externalId' | translate }}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-template *ngIf="row.displayForms; then editForms else rowData"></ng-template>
        <ng-template #editForms>
          <form [formGroup]="transactionUpdateForm" (click)="$event.stopPropagation()">
            <mat-form-field class="amount-form-container__input" appearance="fill">
              <mat-label>{{'displayedColumns.externalId' | translate}}</mat-label>
              <input matInput formControlName="externalId" value="{{row.externalId}}"
                placeholder="{{ 'placeholders.externalId' | translate }}">
            </mat-form-field>
          </form>
        </ng-template>
        <ng-template #rowData>
          {{row.externalId}}
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Provider Column -->
    <ng-container matColumnDef="provider">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="column-header">
          {{ 'displayedColumns.provider' | translate }}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-template *ngIf="row.displayForms; then editForms else rowData"></ng-template>
        <ng-template #editForms>
          <form [formGroup]="transactionUpdateForm" (click)="$event.stopPropagation()">
            <mat-form-field class="amount-form-container__input" appearance="fill">
              <mat-label>{{'displayedColumns.provider' | translate}}</mat-label>
              <input matInput formControlName="provider" value="{{row.provider}}"
                placeholder="{{ 'placeholders.provider' | translate }}">
            </mat-form-field>
          </form>
        </ng-template>
        <ng-template #rowData>
          {{row.provider}}
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="column-header">
          {{ 'displayedColumns.amount' | translate }}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-template *ngIf="row.displayForms; then editForms else rowData"></ng-template>
        <ng-template #editForms>
          <div class="amount-form-container">
            <form [formGroup]="transactionUpdateForm" (click)="$event.stopPropagation()">
              <mat-form-field class="amount-form-container__input" appearance="fill">
                <mat-label>{{'displayedColumns.amount' | translate}}</mat-label>
                <input [appNumericLength]="[10, 2]" appNumbersOnly matInput formControlName="amount" value="{{row.amount.amount}}"
                  placeholder="{{ 'placeholders.amount' | translate }}">
              </mat-form-field>
            </form>
            <form [formGroup]="transactionUpdateForm" (click)="$event.stopPropagation()">
              <mat-form-field class="amount-form-container__input" appearance="fill">
                <mat-label>{{'displayedColumns.currency' | translate}}</mat-label>
                <input matInput formControlName="currency" value="{{row.amount.currency}}"
                  placeholder="{{ 'placeholders.currency' | translate }}">
              </mat-form-field>
            </form>
          </div>
        </ng-template>
        <ng-template #rowData>
          {{row.amount.amount | currency: row.amount.currency}}
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Comission amount Column -->
    <ng-container matColumnDef="comissionAmount">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="column-header">
          {{ 'displayedColumns.comissionAmount' | translate }}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-template *ngIf="row.displayForms; then editForms else rowData"></ng-template>
        <ng-template #editForms>
          <div class="amount-form-container">
            <form [formGroup]="transactionUpdateForm" (click)="$event.stopPropagation()">
              <mat-form-field class="amount-form-container__input" appearance="fill">
                <mat-label>{{'displayedColumns.comissionAmount' | translate}}</mat-label>
                <input [appNumericLength]="[10, 2]" appNumbersOnly matInput formControlName="comissionAmount" value="{{row.comissionAmount.amount}}"
                  placeholder="{{ 'placeholders.comissionAmount' | translate }}">
              </mat-form-field>
            </form>
            <form [formGroup]="transactionUpdateForm" (click)="$event.stopPropagation()">
              <mat-form-field class="amount-form-container__input" appearance="fill">
                <mat-label>{{'displayedColumns.comissionCurrency' | translate}}</mat-label>
                <input matInput formControlName="comissionCurrency" value="{{row.comissionAmount.currency}}"
                  placeholder="{{ 'placeholders.comissionCurrency' | translate }}">
              </mat-form-field>
            </form>
          </div>
        </ng-template>
        <ng-template #rowData>
          {{row.comissionAmount.amount | currency: row.comissionAmount.currency}}
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="column-header">
          {{ 'displayedColumns.username' | translate }}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <ng-template *ngIf="row.displayForms; then editForms else rowData"></ng-template>
        <ng-template #editForms>
          <form [formGroup]="transactionUpdateForm" (click)="$event.stopPropagation()">
            <mat-form-field class="amount-form-container__input" appearance="fill">
              <mat-label>{{'displayedColumns.username' | translate}}</mat-label>
              <input matInput formControlName="username" value="{{row.username}}"
                placeholder="{{ 'placeholders.username' | translate }}">
            </mat-form-field>
          </form>
        </ng-template>
        <ng-template #rowData>
          {{row.username}}
        </ng-template>
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell id="toolsHeader" *matHeaderCellDef>
        <span class="column-header">
          {{ 'displayedColumns.tools' | translate }}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button attr.data-id="{{row.id}}" attr.data-provider="{{row.provider}}"
          [disabled]="formsToggled" (click)="deleteTransaction($event)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button [disabled]="formsToggled" (click)="toggleForms($event, row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-raised-button attr.data-id="{{row.id}}" (click)="updateTransaction($event, row)"
          *ngIf="row.displayForms">
          {{'buttons.saveChanges' | translate}}
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="transactionRedirect(row)"
      class="onhover-pointer">
    </mat-row>
  </table>
</div>