.header-wrapper {
  height: 4rem;
  padding: 1rem;

  .links-container {
    margin-top: 1rem;
    display: inline-block;
    height: 50%;
    .links-container__link {
      margin-left: 1rem;
    }
  }

  .active-link {
    border-bottom: 0.3rem solid;
  }

  .clickables-container {
    display: inline-flex;
    float: right;
    height: 100%;

    .notification-bell {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .managing-tools-container {
      display: inline-flex;
      height: 100%;

      .managing-tools-container__item {
        margin: auto;
        margin-right: 0.2rem;
      }
    }

    .managing-tools-mobile {
      display: none;
    }
  }

  @media all and (max-width: 44rem) {
    .clickables-container {
      .managing-tools-mobile {
        display: inline-flex;
        float: right;
        height: 100%;
        justify-content: center;
      }
      .managing-tools-container {
        display: none;
      }
    }
  }
}
