.transactions-table {
    margin: 0 auto;
    margin-top: 3rem;
    width: 80%;
}

.mat-cell {
    border: 1px solid #000;
    padding-left: 5px;
    justify-content: center;
}

.mat-header-cell {
    border: 1px solid #000;
    padding-left: 5px;
    justify-content: center;
}

.display-none {
    display: none;
}