<table mat-table [dataSource]="transactionsArray" class="transactions-table">
    <ng-container matColumnDef="{{column.id}}" *ngFor="let column of columnNames">
      
      <mat-header-cell class="transactions-table__header-cell" *matHeaderCellDef mat-sort-header> {{column.value}}</mat-header-cell>
      
      <mat-cell class="transactions-table__body-cell" *matCellDef="let element" [ngClass]="column.id === 'amount' || column.id === 'comissionAmount' ? 'amount-form-container' : ''">
        <div *ngIf="element.displayForms && column.id !== 'actions';then editForms else cellContent"></div>
        <ng-template #cellContent>
          <ng-template *ngIf="column.id === 'actions'; then actionButtons else transactionData"></ng-template>
          <ng-template #actionButtons>
            <button 
            attr.data-id="{{element.id}}" 
            attr.data-provider="{{element.provider}}"
            (click)="deleteTransaction($event, element)">
              <mat-icon>delete</mat-icon>
            </button>
            <button 
            (click)="toggleForms(element)">
              <mat-icon>edit</mat-icon>
            </button>
            <button 
            attr.data-id="{{element.id}}" 
            (click)="updateTransaction($event)" *ngIf="element.displayForms">
              save changes
            </button>
          </ng-template>
          <ng-template #transactionData>
          <div *ngIf="column.id === 'amount' || column.id === 'comissionAmount';then amountInfo else transactionInfo">
          </div>
          <ng-template #amountInfo>
            {{element[column.id].amount}}
            {{element[column.id].currency}}
          </ng-template>
          <ng-template #transactionInfo>{{element[column.id]}}</ng-template>
          </ng-template>
        
        </ng-template> 
        <ng-template #editForms>
          <div *ngIf="column.id === 'amount' || column.id === 'comissionAmount';then amountForms else regularForm"></div>
          <ng-template #amountForms class="amount-form-container">
            <mat-form-field class="amount-form-container__element" appearance="fill">
              <mat-label>Amount</mat-label>
              <input matInput value="{{element[column.id].amount}}" placeholder="eg 155">
            </mat-form-field>
            <mat-form-field class="amount-form-container__element" appearance="fill">
              <mat-label>Currency</mat-label>
              <input matInput value="{{element[column.id].currency}}" placeholder="eg USD">
            </mat-form-field>
          </ng-template>
          <ng-template #regularForm>
            <mat-form-field class="form-group__element" appearance="fill">
              <mat-label>{{column.value}}</mat-label>
              <input matInput value="{{element[column.id]}}">
            </mat-form-field>
          </ng-template>
        </ng-template>
      </mat-cell>
      
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>