<div class="notification-card-wrapper">
    <div class="notification-info-wrapper">
        <div class="notification-user-image">
            <span>{{initials}}</span>
        </div>
        <div class="notification-info">
            <span>{{messageToDisplay}}</span>
        </div>
        <mat-icon class="more-container__icon"
        [matMenuTriggerFor]="menu">more_vert</mat-icon>
        <mat-menu class="notification-actions-menu" #menu="matMenu">
          <button mat-button
          *ngIf="notificationReadAlready"
          (click)="unreadNotification()">{{'buttons.unread' | translate}}</button>
          <button mat-button
          *ngIf="!notificationReadAlready"
          (click)="readNotification()">{{'buttons.read' | translate}}</button>
          <button mat-button
          (click)="deleteNotification()">{{'buttons.delete' | translate}}</button>
        </mat-menu>
    </div>
</div>