<div 
class="internal-server-error-page-wrapper">
    <div 
    class="internal-server-error-image">
    <img src="/app/assets/svg/internal-server-error.svg">
    </div>
    <div 
    class="internal-server-error-text">
        <div 
        class="internal-server-error-text__content">
            <h1>500</h1>
            <h2>{{'errors.internalServerError.h2' | translate}}</h2>
            <h3>{{'errors.internalServerError.h3' | translate}}</h3>
            <button 
            mat-raised-button 
            (click)="redirectToHome()" 
            class="internal-server-error-text__button">{{'buttons.home' | translate}}</button>
        </div>
    </div>
</div>