<div class="notifications-dialog-wrapper" mat-input-container>
    <h1 class="notifications-title">
        {{'titles.notifications' | translate}}
    </h1>
    <div class="notifications-list">
        <div class="no-notifications-text"
        *ngIf="notificationArrayIsEmpty">
        {{'noNotifications' | translate}}
        </div>
        <div class="notifications-list__item"
        [ngClass]="{'not-read-notification': checkIfNotificationIsRead(notificationData)}"
        *ngFor="let notificationData of notificationsArray; index as i; trackBy: identify">
            <intr-notification-card 
            [notification]="notificationData"
            [index]="i"
            (unreadNotificationEvent)="unreadNotification($event)"
            (readNotificationEvent)="readNotification($event)"
            (deleteNotificationEvent)="deleteNotification($event)">
            </intr-notification-card>
        </div>
    </div>
</div>