.notifications-dialog-wrapper {
    width: fit-content;

    .notifications-list {
        .no-notifications-text {
            padding: 1rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 4rem;
            opacity: 0.5;
        }
    }
    .notifications-title {
        height: 3rem;
        margin-top: 1rem;
        margin-bottom: 0;
        padding-left: 1rem;
        text-align: left;
        font-size: 1.3rem;
    }
}