@import '../../../../variables.scss';

.add-transaction-wrapper {

    .form-group {
        width: 80%;
        border: 1px solid $border-color;
        border-radius: 5px;
        box-shadow: 3px 1px 3px $shadow-color;
        margin: 0 auto;
        padding: 5px;
    }

    .mat-form-field {
        max-width: 12.5%;
    }

    .example-form {
        display: flex;
        width: 100%;
    }

    .toggle-transaction-forms {
        margin-left: 10%;
        margin-top: 5%;
        margin-bottom: 2rem;
    }
}