<button mat-raised-button color="primary" (click)="toggleForm()"
  class="toggle-transaction-forms">{{displayForms?('buttons.transactionCloseForms' |
  translate):('buttons.transactionOpenForms' | translate)}}</button>
  <div #addition_form *ngIf="displayForms" class="form-group">
    <form class="form-group__form" [formGroup]="transactionForm">
      <mat-form-field class="form-group__form-input" appUniqueValue appearance="fill">
        <mat-label>{{'displayedColumns.externalId' | translate}}</mat-label>
        <input formControlName="externalId" required matInput placeholder="{{'placeholders.externalId' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.provider' | translate}}</mat-label>
        <input formControlName="provider" required matInput placeholder="{{'placeholders.provider' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.amount' | translate}}</mat-label>
        <input formControlName="amount" required matInput appNumbersOnly placeholder="{{'placeholders.amount' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.currency' | translate}}</mat-label>
        <input formControlName="currency" required matInput placeholder="{{'placeholders.currency' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.comissionAmount' | translate}}</mat-label>
        <input formControlName="comissionAmount" required matInput appNumbersOnly
          placeholder="{{'placeholders.comissionAmount' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.comissionCurrency' | translate}}</mat-label>
        <input formControlName="comissionCurrency" required matInput
          placeholder="{{'placeholders.comissionCurrency' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.username' | translate}}</mat-label>
        <input formControlName="username" required matInput placeholder="{{'placeholders.username' | translate}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{'displayedColumns.additionalData' | translate}}</mat-label>
        <textarea formControlName="additionalData" matInput
          placeholder="{{'placeholders.additionalData' | translate}}"></textarea>
      </mat-form-field>

    </form>
    <button mat-raised-button color="primary" (click)="addTransaction()">{{'buttons.uploadTransaction' |
      translate}}</button>
  </div>