<div class="select-language-form">
    <p>{{'selectLanguage' | translate}}</p>
    <select class="language-picker" (change)="changeLanguage($event)">
        <option value="en" [selected]="language==='en'">English</option>
        <option value="ru" [selected]="language==='ru'">Русский</option>
        <option value="ua" [selected]="language==='ua'">Українська</option>
        <option value="by" [selected]="language==='by'">Білоруська</option>
    </select>
</div>
<!-- <app-add-transaction [TransactionsTableComponent]="TransactionsTableComponent"></app-add-transaction>
<app-transactions-table></app-transactions-table> -->
<router-outlet></router-outlet>
