<div class="transactions-table-wrapper">
  <h1 class="transactions-title">{{'titles.transactions' | translate}}</h1>
  <button mat-raised-button class="add-transaction-button" color="primary"
  (click)="openTransactionAddingDialog()">+</button>
  <table mat-table matSort class="transactions-table"
  [dataSource]="dataSource">

    <!-- External id Column -->
    <ng-container matColumnDef="externalId">
      <mat-header-cell class="onhover-pointer" 
      *matHeaderCellDef 
      (click)="sortify('externalId')">
        <span class="column-header">
          {{ 'displayedColumns.externalId' | translate }}{{sorted && sorted.externalId !== undefined ? sorted!.externalId?'▲':'▼':''}}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <p>
          {{row.externalId}}
        </p>
      </mat-cell>
    </ng-container>

    <!-- Provider Column -->
    <ng-container matColumnDef="provider">
      <mat-header-cell class="onhover-pointer" 
      *matHeaderCellDef 
      (click)="sortify('provider')">
        <span class="column-header">
          {{ 'displayedColumns.provider' | translate }}{{sorted !== undefined && sorted.provider !== undefined ? sorted!.provider?'▲':'▼':''}}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <p>
          {{row.provider}}
        </p>
      </mat-cell>
    </ng-container>

    <!-- status Column -->
    <ng-container matColumnDef="status">
      <mat-header-cell class="onhover-pointer" 
      *matHeaderCellDef 
      (click)="sortify('status')">
        <span class="column-header">
          {{ 'displayedColumns.status' | translate }}{{sorted !== undefined && sorted.status !== undefined ? sorted!.status?'▲':'▼':''}}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <div>
          {{row.status}}
        </div>
      </mat-cell>
    </ng-container>

    <!-- Amount Column -->
    <ng-container matColumnDef="amount">
      <mat-header-cell class="onhover-pointer" 
      *matHeaderCellDef 
      (click)="sortify('amount')">
        <span class="column-header">
          {{ 'displayedColumns.amount' | translate }}{{sorted !== undefined && sorted.amount !== undefined ? sorted!.amount?'▲':'▼':''}}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <div>
          {{row.amount.amount | currency: row.amount.currency}}
        </div>
      </mat-cell>
    </ng-container>

    <!-- commission amount Column -->
    <ng-container matColumnDef="commissionAmount">
      <mat-header-cell class="onhover-pointer" 
      *matHeaderCellDef 
      (click)="sortify('commissionAmount')">
        <span class="column-header">
          {{ 'displayedColumns.commissionAmount' | translate }}{{sorted !== undefined && sorted.commissionAmount !== undefined ? sorted!.commissionAmount?'▲':'▼':''}}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <div>
          {{row.commissionAmount.amount | currency: row.commissionAmount.currency}}
        </div>
      </mat-cell>
    </ng-container>

    <!-- user Column -->
    <ng-container matColumnDef="user">
      <mat-header-cell class="onhover-pointer" 
      *matHeaderCellDef 
      (click)="sortify('user')">
        <span class="column-header">
          {{ 'displayedColumns.user' | translate }}{{sorted !== undefined && sorted.user !== undefined ? sorted!.user?'▲':'▼':''}}
        </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" >
        <div>
          {{row.user}}
        </div>
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell id="toolsHeader" 
      *matHeaderCellDef>
        <span class="column-header">
          {{ 'displayedColumns.tools' | translate }}
        </span>
      </mat-header-cell>
      <mat-cell class="{{row.displayForms ? 'display-forms' : ''}}"
      *matCellDef="let row" >
        <div class="flex-container-column">
          <div class="buttons-group">
            <button mat-raised-button
            *ngIf="row.status === 'INITIAL'" 
            [disabled]="formsToggled" 
            (click)="confirmTransaction(row)">
              <mat-icon>check icon</mat-icon>
            </button>
            <button mat-raised-button  
            *ngIf="row.status === 'INITIAL'" 
            [disabled]="formsToggled" 
            (click)="openTransactionEditingDialog(row)">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Header row -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="onhover-pointer"
    *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </table>
  <div class="pagination-pannel">
    <button mat-button 
    [disabled]="isFirstPage" 
    (click)="loadFirstPage()">
      << </button>
        <button mat-button 
        [disabled]="isFirstPage" 
        (click)="loadPreviousPage()">
          < </button>
            <mat-form-field appearance="fill">
              <mat-label>{{'pageSize' | translate}}</mat-label>
              <mat-select 
              [(value)]="dataSource.selectedPageSize" 
              (valueChange)="useNewPageSize($event)">
                <mat-option 
                *ngFor="let size of dataSource.pageSizeOptions" 
                [value]="size">
                  {{size}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-button 
            (click)="loadNextPage()">></button>
  </div>
</div>