.transactions-table-wrapper {
    margin: 0 auto;
    margin-top: 5rem;
    width: 80%;

    .transactions-title {
        line-height: 3rem;
        font-size: 4rem;
    }

    .add-transaction-button {
        margin-top: -3rem;
        float: right;
    }

    .flex-container-column {
        display: flex;
        flex-direction: column;
    }

    .buttons-group {
        margin-top: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .mat-header-cell,
    .mat-cell {
        justify-content: center;
    }

    .flex-container {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        display: flex;
        justify-content: center;
    }

    .flex-element {
        display: flex;
        flex: 1;
        justify-content: center;
        width: 20%;
    }

    .pagination-pannel {
        float: right;
        margin-top: 0.3rem;
    }

    .required-text {
        display: block;
    }

    .display-forms.mat-cell {
        height: 15rem;
        flex-direction: column;

        .required-text {
            margin-top: -4rem;
            margin-bottom: 2rem;
        }
    }

    .required-text {
        color: red;
    }

    .validation-error-text {
        color: red;
    }
}