.transactions-table {
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 80%;
    border-collapse: collapse;
    border: 1px solid #000;
}

.mat-cell {
    min-height: 140px;
    justify-content: center;
    height: 100% !important;
    border-collapse: collapse;
}

.mat-row {
    border: 1px solid #000;
    border-collapse: collapse;
}

.cdk-column-externalId {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.cdk-column-username {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.cdk-column-amount {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.cdk-column-comissionAmount {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.cdk-column-provider {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.cdk-column-actions {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
}

.mat-header-cell {
    border: 1px solid #000;
    justify-content: center;
}

.mat-header-row {
    border: 1px solid #000;
}

.display-none {
    display: none;
}

.amount-form-container{
    display: flex !important;
    flex-direction: column !important;
}

.amount-form-container__input {
    flex-direction: column;
}

.h-100 {
    height: 100%;
}

.ms-10-percents {
    margin-left: 10%;
}

.mt-10-pixels {
    margin-top: 1rem;
}