.add-transaction-wrapper{
    width: 30rem;
    
    .form-group__required-text {
        color: red;
    }

    .validation-error-text {
        color: red;
    }

    .form-group__form {
        display: flex;
        flex-direction: column;
    }
}