<div class="add-transaction-wrapper">
    <div class="form-group">
        <p class="required-text text-danger" >{{'requiredInputs' | translate}}</p>
        <form class="form-group__form" 
        [formGroup]="transactionForm">
            <mat-form-field class="form-group__form-input" appearance="fill">
                <mat-label>{{'displayedColumns.externalId' | translate}}</mat-label>
                <input 
                formControlName="externalId" 
                required 
                matInput
                placeholder="{{'placeholders.externalId' | translate}}">
            </mat-form-field>
            <mat-form-field class="form-group__form-input" 
            appearance="fill">
                <mat-label>{{'displayedColumns.provider' | translate}}</mat-label>
                <input 
                formControlName="provider" 
                required 
                matInput
                placeholder="{{'placeholders.provider' | translate}}">
            </mat-form-field>
            <mat-form-field class="form-group__form-input" 
            appearance="fill">
                <mat-label>{{'displayedColumns.amount' | translate}}</mat-label>
                <input 
                formControlName="amount" 
                required 
                matInput 
                placeholder="{{'placeholders.amount' | translate}}">
                <div [ngxErrors]="transactionForm.controls['amount']" class="text-danger">
                    <div ngxError="forbiddenNanInput">{{'errors.forbiddenNanInput' | translate}}</div>
                    <div ngxError="forbiddenIntegerLength">{{'errors.forbiddenIntegerLength' | translate}}</div>
                </div>
            </mat-form-field>
            <mat-form-field class="form-group__form-input" appearance="fill">
                <mat-label>{{'displayedColumns.currency' | translate}}</mat-label>
                <input 
                formControlName="currency" 
                required 
                matInput
                placeholder="{{'placeholders.currency' | translate}}">
            </mat-form-field>
            <mat-form-field class="form-group__form-input" 
            appearance="fill">
                <mat-label>{{'displayedColumns.commissionAmount' | translate}}</mat-label>
                <input formControlName="commissionAmount" 
                required 
                matInput
                placeholder="{{'placeholders.commissionAmount' | translate}}">
                <div [ngxErrors]="transactionForm.controls['commissionAmount']" class="text-danger">
                    <div ngxError="forbiddenNanInput">{{'errors.forbiddenNanInput' | translate}}</div>
                    <div ngxError="forbiddenIntegerLength">{{'errors.forbiddenIntegerLength' | translate}}</div>
                </div>
            </mat-form-field>
            <mat-form-field class="form-group__form-input" appearance="fill">
                <mat-label>{{'displayedColumns.commissionCurrency' | translate}}</mat-label>
                <input 
                formControlName="commissionCurrency" 
                required 
                matInput
                placeholder="{{'placeholders.commissionCurrency' | translate}}">
            </mat-form-field>
            <mat-form-field class="form-group__form-input" appearance="fill">
                <mat-label>{{'displayedColumns.user' | translate}}</mat-label>
                <input 
                formControlName="username" 
                required 
                matInput
                placeholder="{{'placeholders.user' | translate}}">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>{{'displayedColumns.additionalData' | translate}}</mat-label>
                <textarea 
                formControlName="additionalData" 
                matInput
                placeholder="{{'placeholders.additionalData' | translate}}"></textarea>
            </mat-form-field>

        </form>
        <button 
        mat-raised-button 
        color="primary" 
        (click)="addTransaction()">{{'buttons.uploadTransaction' | translate}}</button>
    </div>
</div>
