<mat-card cdkDrag>
  <span>#{{ index + 1 }}</span>
  <div class="transaction-card-flex-container">
    <img
      class="transaction-card-flex-container__image"
      src="https://icon-library.com/images/no-user-image-icon/no-user-image-icon-26.jpg"
    />
    <div class="transaction-card-flex-container__transaction-info">
      <div>{{ transaction.externalId }}</div>
      <div>{{ transaction.provider }}</div>
      <div>{{ transaction.status }}</div>
    </div>
  </div>
  <span>{{ transaction.user }}</span>
  <intr-transaction-card
    *cdkDragPreview
    [transaction]="transaction"
  ></intr-transaction-card>
</mat-card>
