<div class="transaction-card-wrapper">
  <div class="transaction-card-wrapper__header">
    <span *ngIf="indexExists">#{{ transaction.index | intrIncreaseByOne }}</span>
    <span class="deletion-container"
      ><mat-icon class="icon"
      (click)="deleteCard()">delete</mat-icon></span
    >
  </div>
  <div class="flex-container">
    <img
      class="flex-container__image"
      src="/app/assets/jpg/no-user-image-icon.jpg"
    />
    <div class="flex-container__transaction-info">
      <div>
        {{ "displayedColumns.externalId" | translate }} :
        {{ transaction.externalId }}
      </div>
      <div>
        {{ "displayedColumns.provider" | translate }} :
        {{ transaction.provider }}
      </div>
      <div>
        {{ "displayedColumns.status" | translate }} : {{ transaction.status }}
      </div>
      <div>
        {{ "displayedColumns.amount" | translate }} :
        {{ transaction.amount }}
      </div>
      <div>
        {{ "displayedColumns.commissionAmount" | translate }} :
        {{ transaction.commissionAmount }}
      </div>
    </div>
  </div>
  <span class="transaction-card-wrapper__username"
    >{{ "displayedColumns.user" | translate }} : {{ transaction.user }}</span
  >
</div>
