<div 
class="not-found-page-wrapper">
    <div 
    class="not-found-image">
        <img src="/app/assets/svg/spaceman.svg">
    </div>
    <div 
    class="not-found-text">
        <div 
        class="not-found-text__content">
            <h1>404</h1>
            <h2>{{'errors.pageNotFound.h2' | translate}}</h2>
            <h3>{{'errors.pageNotFound.h3' | translate}}</h3>
            <button 
            mat-raised-button 
            (click)="redirectToHome()" 
            class="not-found-text__button">{{'buttons.home' | translate}}</button>
        </div>
    </div>
</div>