<button (click)="toggleForm()" class="toggle-transaction-forms">{{status?('buttons.transactionCloseForms' | translate):('buttons.transactionOpenForms' | translate)}}</button>
<div #addition_form [ngClass]="status ? 'form-group' : 'display-none'">
      <form class="form-group__form" [formGroup]="transactionUpdateForm">
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.externalId' | translate}}</mat-label>
        <input formControlName="externalId" matInput placeholder="{{'placeholders.externalId' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.provider' | translate}}</mat-label>
        <input formControlName="provider" matInput placeholder="{{'placeholders.provider' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.amount' | translate}}</mat-label>
        <input formControlName="amount" matInput placeholder="{{'placeholders.amount' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.currency' | translate}}</mat-label>
        <input formControlName="currency" matInput placeholder="{{'placeholders.currency' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.comissionAmount' | translate}}</mat-label>
        <input formControlName="comissionAmount" matInput placeholder="{{'placeholders.comissionAmount' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.comissionCurrency' | translate}}</mat-label>
        <input formControlName="comissionCurrency" matInput placeholder="{{'placeholders.comissionCurrency' | translate}}">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>{{'displayedColumns.username' | translate}}</mat-label>
        <input formControlName="username" matInput placeholder="{{'placeholders.username' | translate}}">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>{{'displayedColumns.additionalData' | translate}}</mat-label>
        <textarea formControlName="additionalData" matInput placeholder="{{'placeholders.additionalData' | translate}}"></textarea>
      </mat-form-field>
      
    </form>
    <button (click)="addTransaction($event)">{{'buttons.uploadTransaction' | translate}}</button>
</div>