.header-wrapper {
    height: 70px;
    border-bottom: 2px solid rgb(196, 196, 196);
    background-color: rgb(247, 247, 247);
    vertical-align:middle;
    padding: 5px;

    .links-container{
        display: inline-flex;
        height: 100%;
    }

    .active-link{
        border-bottom: 3px solid;
        background-color: rgb(243, 243, 243);
    }

}