@import '../../../../variables.scss';

.header-wrapper {
    height: 70px;
    box-shadow: 2px 1px 3px $border-color;
    -moz-box-shadow: 2px 1px 3px $border-color;
    -webkit-box-shadow: 2px 1px 3px $border-color;
    padding: 5px;

    .links-container{
        display: inline-flex;
        height: 100%;
    }

    .active-link{
        border-bottom: 3px solid;
    }

    .managing-tools-container{
        display: inline flex;
        float: right;
        height: 100%;

        .managing-tools-container__item{
            margin: auto;
            margin-right: 2rem;
        }
    }
}