.header-wrapper {
    height: 70px;
    padding: 5px;

    .links-container{
        margin-top: 15px;
        display: inline-block;
        height: 50%;
        .links-container__link {
            margin-left: 10px;
        }
    }

    .active-link{
        border-bottom: 3px solid;
    }

    .managing-tools-container{
        display: inline-flex;
        float: right;
        height: 100%;

        .managing-tools-container__item{
            margin: auto;
            margin-right: 2rem;
        }
    }

    .managing-tools-mobile{
        display: none;
    }

    @media all and (max-width: 700px) {
        .managing-tools-mobile{
            display: inline-flex;
            float: right;
            height: 100%;
            justify-content: center;
        }
        .managing-tools-container{
            display: none;
        }
    }
}