@use '@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();

//Theme

$dark-primary: mat-palette($mat-indigo);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent);


//Variables

$dark-primary-color: mat-color($dark-primary);
$dark-palette: mat-palette($mat-grey);

$warning-palette: mat-palette($mat-red);
$warning-color: mat-color($warning-palette);

$success-palette: mat-palette($mat-green);
$success-color: mat-color($success-palette);

//Theme styles

.dark-theme {
    $border-color: rgb(187, 187, 187);
    $shadow-color: #fff;
    @include angular-material-theme($dark-theme);

    .error-snackbar {
        background-color: $warning-color;
    }
    
    .success-snackbar {
        background-color: $success-color;
    }

    .text-danger {
        color: $warning-color;
    }

    .managing-tools-mobile {
        color: $dark-primary-color;
    }

    .header-wrapper {
        box-shadow: 0 0 1rem $border-color;
        -moz-box-shadow: 0 0 1rem $border-color;
        -webkit-box-shadow: 0 0 1rem $border-color;
    }

    .transactions-table-wrapper {
        box-shadow: 0 0 1rem $shadow-color;
    }

    .internal-server-error-image{
        filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(307deg) brightness(104%) contrast(101%);
    }
}
