@use '@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();

//Theme

$light-primary: mat-palette($mat-cyan);
$light-accent: mat-palette($mat-pink, A200, A100, A400);
$light-theme: mat-light-theme($light-primary, $light-accent);

//Variables

$light-primary-color: mat-color($light-primary);

$warning-palette: mat-palette($mat-red);
$warning-color: mat-color($warning-palette);

$success-palette: mat-palette($mat-green);
$success-color: mat-color($success-palette);

//Theme styles

@include angular-material-theme($light-theme);

.light-theme {
    $header-border-color: #777;
    $border-color: rgb(174, 174, 174);
    $shadow-color: #000;
    $not-read-notification-color: rgb(241, 241, 241);
    $drop-placeholder-bg-color: rgb(237, 237, 237);
    $scroll-bar-thumb: rgb(198, 198, 198);
    $scroll-bar-hover: #e7e7e7;
    @include angular-material-theme($light-theme);
    
    .error-snackbar {
        background-color: $warning-color;
    }
    
    .success-snackbar {
        background-color: $success-color;
    }

    .text-danger {
        color: $warning-color;
    }

    .managing-tools-mobile {
        color: $light-primary-color;
    }

    .header-wrapper {
        box-shadow: 0 0 1rem $header-border-color;
        -moz-box-shadow: 0 0 1rem $header-border-color;
        -webkit-box-shadow: 0 0 1rem $header-border-color;
    }

    .transactions-table {
        box-shadow: 0 0 1rem $shadow-color;
    }

    .applied-transactions-list {
        box-shadow: 0 0 1rem $shadow-color;
        
        &.no-shadow {
            box-shadow: none;
        }
    }

    .transaction-card-wrapper {
        border: 0.01rem solid $border-color;
    }

    .drag-preview {
        opacity: 0.5;
        background-color: $drop-placeholder-bg-color;
        width: 80%;
    }
    
    .cdk-drag-placeholder {
        
        .drop-placeholder{
            background-color: $drop-placeholder-bg-color;
            height: 14.5rem;
            width: 100%;
        }
    }

    .notifications-dialog-wrapper {
        .notifications-list {
            .notifications-list__item {
                border-top: 0.01rem solid $border-color;
                &.not-read-notification{
                    background-color: $not-read-notification-color;
                }
            }
        }
    }

    .notifications-dialog-wrapper {
        .notifications-title {
            border-bottom: 0.01rem solid $border-color;
        }
    }

    .notifications-dialog {
        
        ::-webkit-scrollbar-thumb {
            background: $scroll-bar-thumb; 
        }
        
        ::-webkit-scrollbar-thumb:hover {
            background: $scroll-bar-hover; 
        }
    }
}