@use '@angular/material' as mat;
@import '~@angular/material/theming';
@include mat.core();

//Theme

$light-primary: mat-palette($mat-cyan);
$light-accent: mat-palette($mat-pink, A200, A100, A400);
$light-theme: mat-light-theme($light-primary, $light-accent);

//Variables

$light-primary-color: mat-color($light-primary);

$warning-palette: mat-palette($mat-red);
$warning-color: mat-color($warning-palette);

$success-palette: mat-palette($mat-green);
$success-color: mat-color($success-palette);

//Theme styles

@include angular-material-theme($light-theme);

.light-theme {
    $border-color: #777;
    $shadow-color: #000;
    @include angular-material-theme($light-theme);
    
    .error-snackbar {
        background-color: $warning-color;
    }
    
    .success-snackbar {
        background-color: $success-color;
    }

    .text-danger {
        color: $warning-color;
    }

    .managing-tools-mobile {
        color: $light-primary-color;
    }

    .header-wrapper {
        box-shadow: 0 0 1rem $border-color;
        -moz-box-shadow: 0 0 1rem $border-color;
        -webkit-box-shadow: 0 0 1rem $border-color;
    }

    .transactions-table {
        box-shadow: 0 0 1rem $shadow-color;
    }
}