/* You can add global styles to this file, and also import other style files */

@use 'sass:map';
@use '@angular/material';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.success-snackbar {
    background-color: green;
}

.error-snackbar {
    background-color: red;
}

.mat-sort-header-content {
    height: 80px;
}

.ms-2-percents {
    margin-left: 2%;
}

.ms-10-percents {
    margin-left: 10%;
}

.ms-10-pixels {
    margin-left: 10px !important;
}

.mt-10-pixels {
    margin-top: 10px !important;
}

.mt-100-pixels {
    margin-top: 100px;
}

.mt-200-pixels {
    margin-top: 200px;
}

.w-80-percents {
    width: 80%;
}

.w-100-percents {
    width: 100%;
}

.center-header {
    text-align: center;
}

.text-underline {
    text-decoration: underline;
}

.onhover-pointer:hover {
    cursor: pointer;
}

.container {
    display: block;
    margin-bottom: 50px;
}

.wrapper {
    border: 1px solid #000;
    margin-top: 10px;
    padding: 7px;
}

.display-none {
    display: none;
}

.text-danger {
    color: red;
}

.float-right {
    float: right;
}

.float-right {
    float: left;
}
