@use 'sass:map';
@use '@angular/material';
@import '~@angular/material/theming';
@include mat-core();

//Themes

$light-primary: mat-palette($mat-cyan);
$light-accent: mat-palette($mat-pink, A200, A100, A400);
$light-theme: mat-light-theme($light-primary, $light-accent);

@include angular-material-theme($light-theme);

$dark-primary: mat-palette($mat-indigo);
$dark-accent: mat-palette($mat-amber, A200, A100, A400);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent);


//Variables

$dark-palette: mat-palette($mat-grey);
$border-color: mat-color($dark-palette);

$warning-palette: mat-palette($mat-red);
$warning-color: mat-color($warning-palette);

$success-palette: mat-palette($mat-green);
$success-color: mat-color($success-palette);

$shadow-color: #000;