<button (click)="toggleForm()" class="toggle-transaction-forms">{{status?'Close form':'Open form of adding new transaction'}}</button>
<div ngModel #addition_form [ngClass]="status ? 'form-group' : 'display-none'">
    <form class="form-group__form">
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>External id</mat-label>
        <input #externalId matInput placeholder="eg 155">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>Provider</mat-label>
        <input #provider matInput placeholder="eg webmoney">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>Amount</mat-label>
        <input #amount matInput placeholder="eg 1000">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>Currency</mat-label>
        <input #currency matInput placeholder="eg USD">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>Comission amount</mat-label>
        <input #comissionAmount matInput placeholder="eg 100">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>Comission currency</mat-label>
        <input #comissionCurrency matInput placeholder="eg USD">
      </mat-form-field>
      <mat-form-field class="form-group__form-input" appearance="fill">
        <mat-label>User</mat-label>
        <input #username matInput placeholder="eg testUser">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Additional data</mat-label>
        <textarea #additionalData matInput placeholder="Some more info"></textarea>
      </mat-form-field>
      
    </form>
    <button (click)="addTransaction($event)">Add new transaction</button>
</div>